body{
    background: url(images/wallpaper.jpg);
    /* ^https://wall.alphacoders.com/big.php?i=420126*/
    background-size: cover;
    margin: 0;
    background-position-y: 150px;
}

/* banner elements */
h1, h2{
    color: white;
    text-align: center;
    font-family: 'Zilla Slab', serif;
    background-color: rgb(0,193,239)
}
h1{
    margin: 0;
    font-size: 110px;
    letter-spacing: 1.7px;
}
h2{
    margin: 0 0 20px 0;
    border-bottom: 15px solid white;
    padding-bottom: 10px;
    font-size: 35px;
    letter-spacing: 1.5px;
}

/* playing area elements */
.guesses-left{
    color: rgb(0,193,239);
    font-size: 20px;
    font-family: 'Zilla Slab', serif;
    padding-left: 10px;
}

.playing-area{
    height: 320px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.blank-tiles{
    display: grid;
    grid-column: 1;
}

/* keyboard elements */
.letter{
    padding: 5px 5px;
    border: 2px solid black;
    text-transform: uppercase;
    width: 90px;
    height: 90px;
    margin: 0 8px;
    text-align: center;
    border-radius: 7px;
    line-height: 90px;
    font-size: 35px;
    font-weight: bold;
    color: rgb(240,240,240);
}

.keyboard-area{
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
}

.first-row, .second-row, .third-row {
    display: inline-block;
    text-align: center;
    margin: 8px;
}

/* images for each letter below */
.a-pic{background-image: url(images/a-andybernard.jpg)}
.b-pic{background-image: url(images/b-creedbratton.jpeg)}
.c-pic{background-image: url(images/c-angelamartin.jpg)}
.d-pic{background-image: url(images/d-dwightschrute.jpg)}
.e-pic{background-image: url(images/e-davidwallace.jpg)}
.f-pic{background-image: url(images/f-stanleyhudson.jpg)}
.g-pic{background-image: url(images/g-gabelewis.jpg)}
.h-pic{background-image: url(images/h-datemike.jpg)}
.i-pic{background-image: url(images/i-pambeesly.jpg)}
.j-pic{background-image: url(images/j-jimhalpert.png)}
.k-pic{background-image: url(images/k-kevinmalone.jpg)}
.l-pic{background-image: url(images/l-oscarmartinez.jpg)}
.m-pic{background-image: url(images/m-michaelscott.jpg)}
.n-pic{background-image: url(images/n-hollyflax.png)}
.o-pic{background-image: url(images/o-phyllisvance.jpg)}
.p-pic{background-image: url(images/p-prisonmike.png)}
.q-pic{background-image: url(images/q-darrylphilbin.jpg)}
.r-pic{background-image: url(images/r-tobyflenderson.jpg)}
.s-pic{background-image: url(images/s-erinhannon.png)}
.t-pic{background-image: url(images/t-meredithpalmer.jpg)}
.u-pic{background-image: url(images/u-janlevinson.jpg)}
.v-pic{background-image: url(images/v-kellykapoor.jpg)}
.w-pic{background-image: url(images/w-ryanhoward.jpg)}
.x-pic{background-image: url(images/x-charlesminer.jpg)}
.y-pic{background-image: url(images/y-robertcalifornia.jpg)}
.z-pic{background-image: url(images/z-deangelovickers.png)}